.contrast-color {
  color: var(--ion-color-primary-contrast);

  .select-field {
    --color: var(--ion-color-primary-contrast);
    --placeholder-color: var(--ion-color-primary-contrast);
    --icon-color: var(--ion-color-primary-contrast);
  }
}

/* START TABLE STYLES */

.table-container {
  overflow: auto;

  .table {
    thead {
      background-color: var(--ion-item-background-color-active, #f1f1f1);
    }
    th {
      text-align: left;

    }
    td:not(:last-of-type), th:not(:last-of-type) {
      padding-right: 0;
      white-space: nowrap;
    }

  }
}

/* END TABLE STYLES */

.date-picker {
  width: 50%;
  display: inline-block;
  color: var(--ion-color-primary);

  &:last-of-type {
    text-align: right;
    padding-right: 16px;
  }
}

.date-direction {
  color: var(--ion-color-primary);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 101;

  width: 100%;
  height: 50%;
  transform: translate3d(0, 50%, 0);

  // won't block click events as it lays before the datepickers
  pointer-events: none;
}
