<ion-card>
  <form [formGroup]="form" (ngSubmit)="saveWorkingHours()">
    <ion-card-content>
      <ion-fab vertical="top" horizontal="end" edge="false">
        <ion-fab-button size="small" color="light" translucent="true" (click)="removeWorkingHours()">
          <ion-icon name="close"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-item>
        <ion-label position="stacked">Projekt</ion-label>
        <!-- visible input field to show text value on an input and interact with the user -->
        <ion-input class="select-modal" placeholder="Projekt ausw&auml;hlen" readonly (click)="openProjectModal()"
                   [value]="displayProject" role="button"></ion-input>

        <!-- hidden input field to hold actual value (project object) -->
        <input formControlName="project" hidden/>

      </ion-item>

      <div class="error" *ngIf="projectRequired"
           [@expandCollapse]>Pflichtfeld
      </div>

      <ion-grid class="time">
        <ion-row>
          <ion-col class="from">
            <ion-item>
              <ion-label position="stacked">Von</ion-label>
              <ion-datetime [displayFormat]="displayFormat" formControlName="from"
                            (blur)="saveWorkingHours()"></ion-datetime>
            </ion-item>
            <div class="error" *ngIf="fromRequired"
                 [@expandCollapse]>Pflichtfeld
            </div>
          </ion-col>
          <ion-col class="to">
            <ion-item>
              <ion-label position="floating">Bis</ion-label>
              <ion-datetime [displayFormat]="displayFormat" formControlName="to"
                            (focus)="onToFocus($event)" (blur)="saveWorkingHours()"></ion-datetime>
            </ion-item>
            <div class="error" *ngIf="toRequired" [@expandCollapse]>
              Pflichtfeld
            </div>
            <div class="error" *ngIf="toIsNotAFter"
                 [@expandCollapse]>
              Muss nach der "Von"-Zeit sein
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-label position="floating">Kommentar</ion-label>
        <ion-input formControlName="comment" (blur)="saveWorkingHours()"></ion-input>
      </ion-item>

    </ion-card-content>

    <ion-item class="activated">
      <p class="spent">{{form.get('minutesSpent').value | minutesToTime}}</p>
      <!--<ion-input class="spent" [value]="form.get('minutesSpent').value | minutesToTime" formControlName="minutesSpent" readonly ></ion-input>-->
    </ion-item>
  </form>
</ion-card>