.spent {
  display: block;
  text-align: center;
  color: var(--ion-color-primary);
  width: 100%;
  font-size: 1.25rem;
}

.time {
  padding: 0;
}

.from {
  padding-left: 0;
}

.to {
  padding-right: 0;
}

.select-modal {
  cursor: pointer !important;
}