<ion-header>
  <ion-toolbar [color]="toolbarColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Projekte</ion-title>


    <ion-buttons slot="end">
      <ion-label>
        <small>Inaktive ausblenden</small>
      </ion-label>
      <ion-toggle color="secondary" slot="end" [(ngModel)]="hideInactive"
                  (ionChange)="showInactiveChange()"></ion-toggle>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar [color]="toolbarColor">
    <ion-searchbar animated [showCancelButton]="showCancelButton" cancelButtonText="Abbrechen"
                   placeholder="Projekte durchsuchen"
                   [(ngModel)]="searchText"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!isLoading; else loadingOverlay">
    <ion-grid *ngIf="projects.length > 0; else noData">
      <ion-row [@cardAnimation]="projects.length">
        <ion-col *ngFor="let project of projects | filter: searchText: searchText; trackBy: trackById"
                 size="12" size-sm="6" size-lg="4" size-xl="3">
          <ion-card>
            <ion-card-content>
              <ion-item>
                <ion-label position="stacked">Projektname</ion-label>
                <ion-input [(ngModel)]="project.name" (blur)="setProject(project)"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Projektnummer</ion-label>
                <ion-input [(ngModel)]="project.number" (blur)="setProject(project)"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="fixed">Aktiv</ion-label>
                <ion-checkbox slot="end" [(ngModel)]="project.active" (ionChange)="setProject(project)"></ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ng-template #noData>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Keine Projekte vorhanden</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Es sind noch keine Projekte angelegt. Zeit eines anzulegen!

          <ion-button expand="block" size="large" fill="clear" color="tertiary" padding
                      (click)="addProject()">
            <ion-icon name="briefcase"></ion-icon>
            Projekt anlegen
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </div>

  <ng-template #loadingOverlay>
    <chy-loading-overlay [@fadeInOut]></chy-loading-overlay>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addProject()" size="large" color="primary"
                    *ngIf="!isLoading" [@fadeScaleInOut]>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
