<ion-card>

  <ion-item>
    <ion-label>Projekt</ion-label>
    <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select One">
      <ion-select-option value="red">Red</ion-select-option>
      <ion-select-option value="purple">Purple</ion-select-option>
      <ion-select-option value="yellow">Yellow</ion-select-option>
      <ion-select-option value="orange">Orange</ion-select-option>
      <ion-select-option value="blue">blue</ion-select-option>
      <ion-select-option value="green">Green</ion-select-option>
      <ion-select-option value="green">Green</ion-select-option>
      <ion-select-option value="green">Green</ion-select-option>
      <ion-select-option value="green">Green</ion-select-option>
      <ion-select-option value="green">Green</ion-select-option>
      <ion-select-option value="green">Green</ion-select-option>
      <ion-select-option value="green">Green</ion-select-option>
      <ion-select-option value="green">Green</ion-select-option>
      <ion-select-option value="green">Green</ion-select-option>
      <ion-select-option value="green">Green</ion-select-option>
      <ion-select-option value="green">Green</ion-select-option>
      <ion-select-option value="green">Green</ion-select-option>
      <ion-select-option value="green">Green</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-card-content>
    <ion-button (click)="presentModal()">project</ion-button>
    some form fields
  </ion-card-content>
</ion-card>