
:host {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  display: flex;
  justify-content: center;
}

.grid {
  position: relative;
  width: 90%;
  text-align: center;
}

.item-label {
  --ion-color-primary: var(--ion-color-primary-contrast);
}

.in-item {
  color: var(--ion-color-dark);
}

.register {
  padding-top: 1rem;
  border-top: 2px solid var(--ion-color-tertiary);
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .grid {
    width: 70%;
  }

  .login {
    text-align: right;
    border-right: 1px solid var(--ion-color-tertiary);
    padding-right: 1rem;
  }
  .register {
    text-align: left;
    padding-left: 1rem;
    padding-top: 5px;
    border-top: none;
    border-left: 1px solid var(--ion-color-tertiary);
    margin-top: 0;
  }
}

.error {
  color: var(--ion-color-warning);
  text-align: left;
}

// Login Buttons

.google {
  --background: #db4437;
}