
.outer {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);

}

.content {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  //overflow-y: auto;
}

.inner-content {

  width: 90%;
  text-align: center;
}

.email-card {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .inner-content {
    width: 70%;
  }
}

.error {
  color: var(--ion-color-danger);
  text-align: left;
}

// Login Buttons

.google {
  --background: #db4437;
}

.facebook {
  --background: #3b5998;
}

.twitter {
  --background: #006dbf;
}

.github {
  --background: #24292e;
  color: var(--ion-color-dark-contrast);
}