
.outer {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);

}

.content {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  //overflow-y: auto;
}

.inner-content {

  width: 90%;
  text-align: center;
}

.item-label {
  --ion-color-primary: var(--ion-color-primary-contrast);
}

.in-item {
  color: var(--ion-color-dark);
}

.register {
  padding-top: 1rem;
  border-top: 2px solid var(--ion-color-tertiary);
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .inner-content {
    width: 70%;
  }
}

.error {
  color: var(--ion-color-warning);
  text-align: left;
}

// Login Buttons

.google {
  --background: #db4437;
}

.facebook {
  --background: #3b5998;
}

.twitter {
  --background: #006dbf;
}

.github {
  --background: #24292e;
  color: var(--ion-color-dark-contrast);
}