// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
  user-select: auto;
}

.error {
  color: var(--ion-color-danger);
  font-size: .75rem;
  padding: .5rem 0 0 1rem;
}

.active {
  color: var(--ion-color-primary)
}

.gradient {
  --background: linear-gradient(90deg, var(--ion-color-tertiary-tint), var(--ion-color-primary)) !important;
  --color: var(--ion-color-primary-contrast) !important;
  background-color: linear-gradient(90deg, var(--ion-color-tertiary-tint), var(--ion-color-primary)) !important;
  color: var(--ion-color-primary-contrast);

  .active {
    color: var(--ion-color-dark);
  }
}

@media screen and (min-width: 960px) {
  .split-pane-md.split-pane-visible > .split-pane-side {
    max-width: 300px;
  }
}

.alert-checkbox-group.sc-ion-alert-ios, .alert-checkbox-group.sc-ion-alert-md {
  max-height: none;
}