<ion-header>
  <ion-toolbar [color]="toolbarColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="button-header">
        T&auml;gliche Arbeitszeit
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <chy-working-hours-chart [data]="monthData"></chy-working-hours-chart>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar class="dashboard-navigator">
    <ion-buttons slot="start" class="navigator-btn">
      <ion-button expand="full" fill="clear" shape="round" (click)="previousMonth()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" class="navigator-btn">
      <ion-button expand="full" fill="clear" shape="round" (click)="nextMonth()">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="navigator-title">{{ currentMonth | date: 'MMMM yyyy' }}</ion-title>
  </ion-toolbar>
</ion-footer>