
ion-grid, ion-col {
  padding: 0;
}

.kpi {
  font-size: 4.5rem;
  text-align: center;
  padding: 3.5rem 0;
}

.dashboard-navigator {
  display: flex;
  align-items: center;

  .navigator-btn, .button {
    display: flex;
    flex: 1 auto;
  }

  .navigator-title {
    text-align: center;
  }
}