<ion-header>
  <ion-toolbar [color]="toolbarColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid padding="0">
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Durchschnittliche Arbeitszeit</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="kpi">{{ averageWorkTime}}</p>
          </ion-card-content>
          <chy-loading-overlay *ngIf="isLoading"></chy-loading-overlay>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Gesamte Arbeitszeit</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="kpi">{{ totalWorkTime }}</p>
          </ion-card-content>
          <chy-loading-overlay *ngIf="isLoading"></chy-loading-overlay>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="button-header">
        T&auml;gliche Arbeitszeit
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="height: 450px;">
      <div *ngIf="!isLoading" style="height: 100%;">
        <chy-working-hours-chart *ngIf="monthData.length > 0; else noData"
                                 [data]="monthData"></chy-working-hours-chart>
      </div>


      <ng-template #noData>
        <p>Im {{ currentMonth | date: 'MMMM' }} ist es ziemlich leer... <br>
          Auf gehts, Zeit eine Arbeit zu starten oder ein neues Projekt zu beginnen!</p>
        <ion-grid padding>
          <ion-row padding>
            <ion-col size="12" size-sm="6">
              <ion-button expand="block" size="large" fill="clear" color="tertiary" padding
                          (click)="goToWorkingHours()">
                <ion-icon name="time"></ion-icon>
                Neue Arbeit starten
              </ion-button>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <ion-button expand="block" size="large" fill="clear" color="tertiary" padding
                          (click)="goToProjects()">
                <ion-icon name="briefcase"></ion-icon>
                Ein neues Projekt anlegen
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>

    </ion-card-content>
    <chy-loading-overlay *ngIf="isLoading"></chy-loading-overlay>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar class="dashboard-navigator">
    <ion-buttons slot="start" class="navigator-btn">
      <ion-button expand="full" fill="clear" shape="round" (click)="previousMonth()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" class="navigator-btn">
      <ion-button expand="full" fill="clear" shape="round" (click)="nextMonth()">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="navigator-title">{{ currentMonth | date: 'MMMM yyyy' }}</ion-title>
  </ion-toolbar>
</ion-footer>