<ion-header>
  <ion-toolbar [color]="toolbarColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Arbeitsstunden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!isLoading; else loadingOverlay">
    <ion-grid *ngIf="workingHours.length > 0; else noData">
      <ion-row [@cardAnimation]="workingHours.length">
        <ion-col *ngFor="let workingHour of workingHours trackBy: trackById" size="12" size-sm="6" size-md="6"
                 size-lg="4">
          <chy-work-card [workingHour]="workingHour" [projects]="projects"
                         (updateWorkingHours)="updateWorkingHours($event)"
                         (deleteWorkingHours)="deleteWorkingHours($event)"></chy-work-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ng-template #noData>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Keine Arbeitszeit vorhanden</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          F&uuml;r den {{ selectedDate | date: 'dd.mm.yyyy' }} sind noch keine Zeiten vorhanden.

          <ion-button expand="block" size="large" fill="clear" color="tertiary" padding
                      (click)="addWorkingHours()">
            <ion-icon name="time"></ion-icon>
            Neue Arbeit starten
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </div>

  <ng-template #loadingOverlay>
    <chy-loading-overlay [@fadeInOut]></chy-loading-overlay>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addWorkingHours()" size="large" color="primary" *ngIf="!hideAddButton && !isLoading"
                    [@fadeScaleInOut]>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-datetime displayFormat="DD. MMMM YYYY" [(ngModel)]="selectedDate" (ionChange)="getWorkingHours()"
                  class="selected-date"></ion-datetime>
  </ion-toolbar>
</ion-footer>